.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 0;
}

.App-main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.editor {
  height: 100%;
  width: 100%;
  text-align: left;
}

.editor:first-child .CodeMirror {
  border-right: 1px solid black;
}

.editor-header {
  background: silver;
  padding: 10px;
  position: relative;
}

.editor-main {
  height: 100%;
  width: 100%;
}

.editor-header h2 {
  margin: 0;
  text-align: center;
}

.ReactCodeMirror,
.CodeMirror {
  height: 100%;
  width: 100%;
}

.graphql-loading {
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.create-graphql-button {
  width: 100px;
  padding: 8px 10px;
  border: 1px solid #282c34;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  z-index: 100;
  color: #282c34;
  background: #61dafb;
  cursor: pointer;
  transition: background 0.3s;
}

.create-graphql-button:disabled {
  background: gray;
  transition: background 0.3s;
  cursor: not-allowed;
}

.editor-results {
  padding: 20px;
}

.editor-results a {
  color: #282c34;
}